<!DOCTYPE html>
<html>
    <head>
       <script type="text/javascript">

        
        // 취소 버튼 클릭시 첫화면으로 이동
        function goFirstForm() {
            location.href='/'
        }    
        
        // 아이디 중복체크 화면open
        function openIdChk(){
            window.name = "parentForm";
            window.open('check_idform/',
                    "chkForm", "width=500, height=300, resizable = no, scrollbars = no",);  
            
        }
 
        
   </script>
    
    </head>
    <body>
        <form name= "UserInfo" action="{{ url_for('add_user')}}" method="POST">
          <h3>Student Information</h3>
            <table>
              <tr>
                <td>userID</td>
                <td>
                  <input type="text" name="userID">

                  <!--
                  <input type="button" value="Check Availablity" onclick="openIdChk()"> 
                  -->
                  
                </td>
              </tr>
              <tr>
                <td>userPW</td>
                <td>
                  <input type="text" name="userPW">
                </td>
              </tr>
              <tr>
                <td>userName</td>
                <td>
                  <input type="text" name="userName">
                </td>
              </tr>
              <tr>
                <td>userPhoneNum</td>
                <td>
                  <input type="text" name="userPhoneNum">
                </td>
              </tr>
            </table>
                <div class="button">
                    <input class="submit_button" type="submit" value="submit" /> 
                    <input class="cancel_button" type="button" value="cancel" onclick="goFirstForm()" />
                </div>
              
        </form>
    </body>
</html>