<!DOCTYPE html>
<html>
    <head>
    <title>Add_user</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'add_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <script type="text/javascript">

      
      // 취소 버튼 클릭시 첫화면으로 이동
      function goFirstForm() {
          location.href='/'
      }    
      
      // 아이디 중복체크 화면open
      function openIdChk(){
          window.name = "parentForm";
          window.open('check_idform/',
                  "chkForm", "width=500, height=300, resizable = no, scrollbars = no",);  
      }
        
   </script>
    
  </head>
  <body>
    <header>
      <a href='{{ url_for('index') }}'>
              <img class='logo' src="{{ url_for('static', filename = 'logo.png')}}" style="width:500px; height:200px" >
          </a>
          <br><br>
      {%if 'userID' not in session%}
      <div class='sign_btn'>
          <input type='button' value='sign up' class='button' onclick="location.href='{{url_for('add_user')}}'">
          <!-- <input type='button' value='sign in' class='button' onclick="location.href='{{url_for('sign_in')}}'"> -->
      </div>
      {%else%}
      <div>
          <div class='user_profile'>Welcome! <b>{{session['userID']}}</b>님</div>
          <input class='logout'type='button' value='log out' onclick="location.href='{{url_for('log_out')}}'">
      {%endif%}
      </div>    
    </header>
    <br><br><br><br>
    <nav>
      <ul class='category'>                
          <!-- <li class='menu'><a id='menu_font' href="{{ url_for('add_user')  }}" style = "color:rgb(26, 42, 17)">Add user</a></li> -->
          <!-- <li class='menu'><a id='menu_font' href="{{ url_for('show_user')  }}" style = "color:rgb(26, 42, 17)">Show user</a></li> -->
          {%if 'userID' in session%} 
          <li class='menu'><a id='menu_font' href="{{ url_for('add_product') }}" style = "color:rgb(26, 42, 17)">상품등록</a></li>
          {%endif%} 
          <li class='menu'><a id='menu_font' href="{{ url_for('show_product') }}" style = "color:rgb(26, 42, 17)">상품보기</a></li> 
      </ul>
    </nav>

    <form class='search' action="{{ url_for('search_keyword', key_search = 'key_search' ) }}" method="POST">
      <input  type="text" name="key_search" placeholder="검색어를 입력하세요">
      <input type="submit" value="search">
    </form>

        <br><br>
        <b class="profile"><font size="6">회원가입</font></b>
        <br><br>
        <form name= "UserInfo" action="{{ url_for('add_user')}}" method="POST">
            <table>
              <tr>
                <td id='title'>userID</td>
                <td>
                  <input type="text" name="userID">

                  <!--
                  <input type="button" value="Check Availablity" onclick="openIdChk()"> 
                  -->
                  
                </td>
              </tr>
              <tr>
                <td id='title'>userPW</td>
                <td>
                  <input type="text" name="userPW">
                </td>
              </tr>
              <tr>
                <td id='title'>userName</td>
                <td>
                  <input type="text" name="userName">
                </td>
              </tr>
              <tr>
                <td id='title'>userPhoneNum</td>
                <td>
                  <input type="text" name="userPhoneNum">
                </td>
              </tr>
            </table><br>
            <div class="button_location">
                <input class="submit_button" type="submit" value="submit" /> 
                <input class="cancel_button" type="button" value="cancel" onclick="goFirstForm()" />
            </div>
        </form>
    </body>
</html>