<!DOCTYPE html>
<html>
<head>

    <!-- Webpage Title ex) 'add_product!' 이런 느낌 -->
    <title>Hello, Cucumber Market!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- 여긴 css 파일 밖으로 만드려면 쓰시고 아니면 <style> 만드셔서 하셔도 됩니다! -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">

    </head>
    
    <body>
        <header>
            <a href='{{ url_for('main_page.html') }}'>
                <img class='logo' src="{{ url_for('static', filename = 'logo.png') }}">
            </a>
        </header>
        <nav>
            <ul>
                <li><a href='{{url_for('search', keyword='all')}}'>상품 구경</a></li>
                {%if 'userID' in session%}
                    <li><a href='{{url_for('uploadProduct')}}'>상품 등록</a></li>
                    <li><a href='{{url_for('follow', userName=session['userName'])}}'>팔로잉 보기</a></li>
                {%else%}
                    <li><a href='{{url_for('warning', type='add_product')}}'>상품 등록</a></li>
                    <li><a href='{{url_for('warning', type='follow')}}'>팔로잉 보기</a></li>
                {%endif%}
            </ul>
        </nav>
        <div class='body'>
            <div class='body' style='width:70%; height:10%; left:15%; background-color:white; top:0%;'>
                <div class='body' style='width:60%; height:50%; left:15%; background-color:white; top:25%; font-size:large;'>{{userName}}님의 상품 목록</div>
                {%if session['userName']!=userName and follow.count()==0%}
                <form action='{{url_for('following',userName=userName)}}' method='POST'>
                    <input type='submit' value='팔로우 하기' class='soldOutBtn'>
                </form>
                {%endif%}
            </div>
        <div class='body'>
            <div class='body' style='width:70%; height:10%; left:15%; background-color:white; top:0%;'>
                <div class='body' style='width:60%; height:50%; left:15%; background-color:white; top:25%; font-size:large;'>{{session['userName']}}님의 팔로잉 목록</div>
            </div>
            <div class='body' style='width:70%; height:90%; left:15%; background-color:white; top:10%; overflow-y:scroll;'>


                {%if follow.count()==0%}
                <div class='container'>팔로잉 중인 사람이 없습니다.</div>
                {%endif%}

                {%for relation in follow%}
                <a href='{{url_for('profile',userName=relation.followPara1)}}'>
                <div class='container'>
                      
                        <div class='followPara1'>{{relation.followPara1}}</div>
                    
                    <hr></hr>
                    
                </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </body>
</html>