<!DOCTYPE html>
<html>
    <head>

    <!-- Webpage Title -->
    <title>Hello, Cucumber Market!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">


    <!--flash 메세지를 보여주기 위한 프로세스-->
    {% with messages=get_flashed_messages()%}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
    {%endwith%}

    </head>
    <body>
        <header>
            <a href='{{ url_for('index') }}'>
                    <img class='logo' src="{{ url_for('static', filename = 'logo.png')}}" style="width:500px; height:200px" >
                </a>
                <br><br>
            {%if 'userID' not in session%}
            <div class='sign_btn'>
                <input type='button' value='sign up' class='button' onclick="location.href='{{url_for('add_user')}}'">
                <!-- <input type='button' value='sign in' class='button' onclick="location.href='{{url_for('sign_in')}}'"> -->
            </div>
            {%else%}
            <div>
                <div class='user_profile'>Welcome! <b>{{session['userID']}}</b>님</div>
                <input class='logout'type='button' value='log out' onclick="location.href='{{url_for('log_out')}}'">
            {%endif%}
            </div>    
        </header>
        <br><br><br><br>
        <nav>
            <ul class='category'>                
                <!-- <li class='menu'><a id='menu_font' href="{{ url_for('add_user')  }}" style = "color:rgb(26, 42, 17)">Add user</a></li> -->
                <!-- <li class='menu'><a id='menu_font' href="{{ url_for('show_user')  }}" style = "color:rgb(26, 42, 17)">Show user</a></li> -->
                {%if 'userID' in session%} 
                <li class='menu'><a id='menu_font' href="{{ url_for('add_product') }}" style = "color:rgb(26, 42, 17)">상품등록</a></li>
                {%endif%}  
                <li class='menu'><a id='menu_font' href="{{ url_for('show_product') }}" style = "color:rgb(26, 42, 17)">상품보기</a></li> 
            </ul>
        </nav>
        <div id="index_body">
           
            {%if 'userID' not in session%}
                <form class='signinsection' action="{{url_for('sign_in')}}" method='POST'>
                    <input name='userID' type='text' class='txt' placeholder='id' size='10'>
                    <input name='userPW' type='text'class='txt'  placeholder='password' size='13'>
                    <input type='submit' class='btn' value= "Login">
                </form>
            {%endif%}   
            <form class='search' action="{{ url_for('search_keyword', key_search = 'key_search' ) }}" method="POST">
                <input  type="text" name="key_search" placeholder="검색어를 입력하세요">
                <input type="submit" value="search">
            </form>
           

            <table class="table">
              
              <tbody>
                {% for product in PRODUCT %}
                <tr class="alert" role="alert">
                    <td><img src="{{ url_for('static', filename = '/uploads/' + product.productPicture) }}"></td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productPrice }}</td>
                    <td>{{ product.productInfo }}</td>
                    <td>{{ product.productState }}</td>
                    <td><a href="{{ url_for('product_detail', productCode = product.productCode) }}">상세</a></td>
                    <td>
                        <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                            
        </div>
    </body>
</html>