<!DOCTYPE html>
<html lang="en">
<head>
    <title>상품검색</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- 여긴 css 파일 밖으로 만드려면 쓰시고 아니면 <style> 만드셔서 하셔도 됩니다! -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">

</head>
<body>
    
    <h5>
        <a href="{{ url_for('index') }}">Go to Main</a>
        <br><br>
        <table border="1">
            <thead>
                <tr>
                    <th>productCode</th>
                    <th>productName</th>
                    <th>productPicture</th>
                    <th>productPrice</th>
                    <th>productInfo</th>
                    <th>productState</th>
                </tr>
            </thead>
            {% for product in search_product %}
            <tbody>
                <tr>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productPicture }}</td>
                    <td>{{ product.productPrice }}</td>
                    <td>{{ product.productInfo }}</td>
                    <td>{{ product.productState }}</td>
                    <td><a href="{{ url_for('product_detail', productCode = product.productCode) }}">상세</a></td>
                </tr>                
            {%endfor%}    
            </tbody>
        </table>
    </h5>

</body>
</html>