<!DOCTYPE html>
<html lang="en">
<head>
    <title>상품검색</title>
</head>
<body>
    
    <h5>
        <a href="{{ url_for('index') }}">Go to Main</a>
        <br><br>
        <table border="1">
            <thead>
                <tr>
                    <th>productCode</th>
                    <th>productName</th>
                    <th>productPicture</th>
                    <th>productPrice</th>
                    <th>productInfo</th>
                    <th>productState</th>
                </tr>
            </thead>
            {% for product in search_product %}
            <tbody>
                <tr>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productPicture }}</td>
                    <td>{{ product.productPrice }}</td>
                    <td>{{ product.productInfo }}</td>
                    <td>{{ product.productState }}</td>
                    <td><a href="{{ url_for('product_detail', productCode = product.productCode) }}">상세</a></td>
                </tr>                
            {%endfor%}    
            </tbody>
        </table>
    </h5>

</body>
</html>