<!DOCTYPE html>
<html>
    <body>
        <h5>
            <a href="{{ url_for('index') }}">Go to Main</a>

            <table>
                <thead>
                    <tr>
                        <th>productCode</th>
                        <th>productName</th>
                        <th>productPicture</th>
                        <th>productPrice</th>
                        <th>productInfo</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in PRODUCT %}
                    <tr>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productPicture }}</td>
                        <td>{{ product.productPrice }}</td>
                        <td>{{ product.productInfo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </h5>
    </body>
</html>