<!DOCTYPE html>
<!--동적으로 입력 가능한 값: id, password-->
<html>
    <head>
        <title>Sign In</title>

        <style type="text/css">
            .btn
            {
                align-items: center;
                width:  70px;
                height: 20px; 
            }
        </style>
        <script type="text/javascript">


        // 취소 버튼 클릭시 첫화면으로 이동
        function goAddUser() {
            location.href="/add_user"
        }    


        </script>

    </head>
    <body>
        <br>
        <b class="title"><font size="6" color="gray">Sign In</font></b>
        <br><br>
        <a href="{{ url_for('index') }}">
            <input type='button' class='btn' value="go back" style='position: absolute; margin-left: 460px; margin-top: 1px;'/> 
        </a>
        
        <div class='body'>
            <form class='signInSection' action="{{url_for('sign_in')}}" method='POST'>
                >
                <input name='userID' type='text' class='txt' placeholder='id'>
                
                <input name='userPW' type='text'class='txt' style='top: 35%' placeholder='password'>
                <input type='submit' class='btn' value= "Login">
            </form>
            <hr></hr>
            
            <input type='button' class='btn' value= "sign up" onclick="goAddUser()"/>

        </div>
    </body>
</html>